body{
    margin: 0;
}
@media (max-width: 600px){
    .naviga h1{             /* responsive header */
        display: none;
    }
    .naviga{
        padding: 0 !important;
    }
    .naviga p{
        display: none;
    }
    .logo_none{
        display: block !important;
        background-color: rgb(35, 102, 202);
        padding: 8px 0;
    }
    .logo_none p{
        margin: auto;
        margin-top: 8px;
    }
    nav .sous{              /* responsive nav */
        padding: 0 !important;
    }
    nav p{
        display: block !important;
        position: absolute;
        top: 0;
        right: 18px;
        margin: 8px 0;
    }
    .logo_eleve{
        right: 28px !important;
    }
    nav{
        width: 0;
    }
    .deroulant{
        background-color: white !important;
    }
    nav ul:first-child{
        padding: 0 6px;
        padding-bottom: 12px;
        background-color: rgb(114, 116, 119);
    }
    .sous li{
        display: none;
    }
    nav ul:last-child{
        display: flex;
        flex-direction: column;
    }
    .deroulant:active .sous li{
        display: block !important;
        margin: 12px 0;
        width: 25%;
        background-color: rgb(114, 116, 119);
    }
#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}


#menuToggle input
{
  display: block;
  width: 16px;
  height: 14px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  
  background: #030303;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
}